.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
 
  .icon-bar a {
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 10px;
  }

  .facebook a:hover{
    background-color: #000;
  }

  .twitter {
    background: #55ACEE;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 10px;
  }

  .twitter a:hover{
    background-color: #000;
  }
  
  .google {
    background: #dd4b39;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 10px;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 10px;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 10px;
  }